/*分割したSassファイルのことをパーシャルという*/

// font-famlily
$baseFontFamily: '游ゴシック', YuGothic, 'メイリオ', Verdana, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;

// colors
$baseColor: #f4f4f4;
$subColor: #C1681B;
$keyColor: #CF3313;
$fontColor: #4c4c4c;
$large: "(min-width: 600px)";